@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// You can use Bulma variables from here on

$cyan: #0288d1;
$grey-dark: #30434e;
$grey-light: #f8fafb;
$grey: darken($grey-light, 10%);
$orange: #ff8d02;
$red: #ff3f02;
$yellow: #ffbc02;

$primary: $cyan;

.is-dark .button.is-text {
  color: $white;
}

@import "~bulma/bulma";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/layout/hero";

// You can use derived variables from here on
.landingLogo {
  filter: brightness(0) invert(1);
  margin: $gap 0;
}

.Footer__sitemap a {
  color: $text;
}

.Footer__partner {
  display: inline-block;
  max-width: 150px;
  margin-right: $gap;
  margin-bottom: $gap;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom-color: $primary;
  }
}

.orcidIcon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}
img.orcidIcon {
  filter: grayscale(1);

  a:hover &,
  a:focus & {
    filter: grayscale(0);
  }
}
.extensionScreenshot {
  margin: $gap;
}

.promotionTile {
  @extend .tile;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero.is-primary .loadingTitle {
  height: $size-1;
  background-image: linear-gradient( $grey $size-1, transparent 0);
  background-size: percentage(0.5 + random()/2) $size-1;
  background-repeat: no-repeat;
  margin-bottom: 0.5em;
}
.hero.is-primary .loadingSubTitle {
  height: $size-3;
  background-image: linear-gradient( $grey $size-3, transparent 0);
  background-size: percentage(random()/2) $size-3;
  background-repeat: no-repeat;
}
.section .loadingHeading {
  height: $size-4;
  background-image: linear-gradient( $grey $size-4, transparent 0);
  background-size: percentage(0.5 + random()/2) $size-4;
  background-repeat: no-repeat;
  margin-bottom: 0.5em;
}
.section .loadingEndorsement {
  height: $size-4;
  background-image:
    linear-gradient( $grey $size-4, transparent 0),
    linear-gradient( $grey $size-4, transparent 0);
  background-size: $size-4, percentage(0.2 + random()/2) $size-4;
  background-repeat: no-repeat;
  background-position: 0 0, ($size-4 + 0.5rem) 0;
  margin-bottom: 0.5rem;
}
.section .loadingArticleTitle {
  height: $size-4;
  background-image:
    linear-gradient( $grey $size-4, transparent 0);
  background-size:  percentage(0.2 + random()/2) $size-4;
  background-repeat: no-repeat;
  background-position: 0;
  margin-bottom: 0.5rem;
}
.loadingFullwidthButton {
  height: $size-4;
  background-image: linear-gradient( $grey $size-4, transparent 0);
}
