@import './settings.scss';

$fieldHeight: $logoHeight * 1.5;
$tagOptionsWidth: 200px;

@media (max-width: $tagOptionsWidth + 2 * ($logoHeight / 2)) {
  .DetailView__TagOptions {
    flex-direction: column;
  }
  .DetailView__Field {
    width: 100%;
    margin-bottom: $logoHeight/2;
  }
}
@media (min-width: 400px) {
  .DetailView__TagOptions {
    min-width: $tagOptionsWidth;
  }
}
@media (max-width: 400px) {
  .DetailView__Form {
    flex-direction: column;
  }

  .DetailView__Tags {
    flex-direction: column;
  }

  .DetailView__TagLine {
    margin-bottom: $logoHeight/2;
  }

  .DetailView__Submit {
    margin-top: $logoHeight/2;

    & input[type="submit"] {
      width: 100%;

      &::after {
        display: block;
        background: blue;
        content: attr(aria-label);
      }
    }
  }
}
@media (min-width: 401px) {
  .DetailView__TagOptions {
    margin: 0 $fieldHeight/3;
  }

  .DetailView__Submit {
    & input[type="submit"] {
      width: $fieldHeight;
    }
  }
}

.DetailView {
  background: $primaryColour;
  padding: $logoHeight/2;
  // Use the system native sans font family:
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.3;
  color: white;
}

.DetailView__Form {
  display: flex;
}

.DetailView__Submit {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & input[type="submit"] {
    cursor: pointer;
    background: white;
    color: $primaryColour;
    border: none;
    border-radius: 2px;
    height: $fieldHeight;
    font-size: $fieldHeight/2;

    &:hover,
    &:focus {
      box-shadow: 0 0 5px white;
      outline: none;
    }
  }
}

.DetailView__Tags {
  border: none;
  padding: 0;
  flex-grow: 1;
  display: flex;
}

.DetailView__TagLine {
  font-weight: bold;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DetailView__TagOptions {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.DetailView__Field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  input[type="checkbox"] {
    @supports (-webkit-appearance: none) {
      -webkit-appearance: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: $fieldHeight / 3;
      height: $fieldHeight / 3;
      margin-bottom: $fieldHeight / 6;
      background: transparent;
      border: 2px solid white;
      border-radius: 2px;
      opacity: 0.8;

      &:hover,
      &:focus {
        background: white;
        opacity: 1;
        box-shadow: 0 0 5px white;
        outline: none;
      }

      &:checked {
        background: white;
        color: $primaryColour;
        opacity: 1;

        &::after {
          content: '✔';
        }
      }
    }

    &:checked + span {
      opacity: 1;
    }
  }

  span {
    display: inline-block;
    height: $fieldHeight / 3;
    opacity: 0.8;
  }

  &:hover span,
  &:focus span,
  input[type="checkbox"]:focus + span {
    opacity: 1;
  }
}
