@import './settings.scss';

@media (max-width: 250px) {
  // When the widget has not been given much space:
  .Widget .Widget__FlexContainer {
    // - Display the button/logo _above_ instead of next to the tag line:
    flex-direction: column;
  }

  // - Make sure the button takes the full (max 250px) width, is centered,
  //   and is not too close to the tag line
  .Widget__Button {
    width: 100%;
    text-align: center;
    margin-bottom: $logoHeight/2;
  }
}
@media (min-width: 251px) {
  // When there is enough space for the widget:
  .Widget .Widget__FlexContainer {
    // - Display the button/logo next to the tag line:
    flex-direction: row;
  }

  // - Make sure that the tagline is not too close to the logo
  .Widget__Brand {
    margin-right: $logoHeight/2;
  }

  // - Make sure that the tagline is not too close to the button
  .Widget__Button {
    margin-right: $logoHeight/2;
  }
}

.Widget {
  transition: box-shadow 200ms;
  border: 1px solid $gray;
  // The margin is needed to allow for a hover shadow
  margin: $logoHeight/10;
  // Use the system native sans font family:
  font-family: system-ui,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  background: white;

  // Because .Widget sometimes is a <button>, and because <button>s cannot be flex containers
  // (see https://stackoverflow.com/a/35466231),
  // .Widget contains a dummy element .Widget__FlexContainer that is used for the actual positioning.
  .Widget__FlexContainer {
    display: flex;
    padding: $logoHeight/2;
  }
}

.Widget--no_endorsements {
  box-sizing: border-box;
  text-align: left;
  width: calc(100% - #{($logoHeight/10)*2});
  padding: 0;

  &:active {
    // This is necessary because Firefox for one reason or another changes the padding of active
    // buttons, leading to its contained text to jump when pressed:
    padding: 0;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 $logoHeight/10 darken($gray, 5%);
    cursor: pointer;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

.Widget__SignInButton {
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  @extend .Widget__Endorser;

  &:hover {
    cursor: pointer;
  }
}

.Widget__Brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: ($logoHeight/3 - $logoOffset) $logoHeight*2/3 $logoHeight/3;
  border: 1px solid transparent;

  svg.Widget__logo {
    width: auto;
    height: 30px;

    g {
      fill: $primaryColour;
    }
  }
}
.Widget__ButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Widget__Button {
  transition: background 200ms;
  background: white;
  display: inline-block;
  height: $logoHeight;
  padding: ($logoHeight/3 - $logoOffset) $logoHeight*2/3 $logoHeight/3;
  border: 1px solid $primaryColour;
  border-radius: $logoHeight/10;
  box-sizing: content-box;

  svg.Widget__logo {
    width: auto;
    height: 30px;

    g {
      fill: $primaryColour;
    }
  }

  .Widget--no_endorsements:hover &,
  .Widget--no_endorsements:focus &,
  &:hover,
  &:focus {
    background: $primaryColour;
    cursor: pointer;
    outline: none;

    svg.Widget__logo g {
      fill: white;
    }
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

.Widget__Tagline {
  display: flex;
  align-items: center;
}

.Widget__Endorser {
  color: $primaryColour;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.Widget--just-endorsed #sound {
  animation-duration: 200ms;
  animation-name: applause;
  animation-timing-function: ease-out;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

abbr.WorkDetail {
  text-decoration: none;
  border-bottom: none;
  cursor: help;
}

@keyframes applause {
  from {
    transform: scale(1) translate(0);
  }

  to {
    transform: scale(1.5) translate(-9%, -9%);
  }
}
