html, body {
  margin: 0;
  padding: 0;
}

.mockOsf {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Open Sans",'Helvetica Neue','sans-serif';
}

.mockOsf .container {
  width: 80%;
  max-width: 1570px;
  margin: 0 auto;
}

.mockOsf .mock-warning {
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 50px;
  background-color: #263947;
  color: white;
  width: 100%;
  line-height: 50px;
  font-size: 14px;
}

.mockOsf .mock-warning a {
  color: inherit;
}

.mockOsf nav {
  position: fixed;
  top: 0;
  background-color: #263947;
  background-image: linear-gradient(to bottom,rgba(60,60,60,.5) 0,rgba(34,34,34,.5) 100%);
  background-repeat: repeat-x;
  color: white;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

.mockOsf nav img {
  float: left;
  margin-top: 7.5px;
  margin-right: 8px;
  width: 35px;
  height: 35px;
}

.mockOsf nav .service-name {
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
}

.mockOsf nav .service-name span:nth-child(2) {
  text-transform: uppercase;
  font-weight: 700;
}

.mockOsf header {
  background-image: url('./osf_header.png');
  background-color: #343333;
  background-position: top center;
  color: white;
  padding-top: 40px;
  padding-bottom: 15px;
}

.mockOsf header .wrapper {
  display: flex;
}
  
.mockOsf header .wrapper .title {
  flex-grow: 4;
  width: 83%;
}

.mockOsf header .wrapper .logo {
  flex-grow: 1;
}

.mockOsf header .wrapper .logo img {
  height: 80px;
}

.mockOsf header h1 {
  font-size: 35px;
  font-weight: 300;
  margin: 20px 0 10px;
}

.mockOsf header ul.authors {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 1.1;
}

.mockOsf header ul.authors a {
  color: #6dd1de;
}

.mockOsf header ul.authors li {
  display: inline;
}
.mockOsf header ul.authors li::before {
  content: ', ';
}
.mockOsf header ul.authors li:first-child::before {
  content: '';
}

.mockOsf article {
  display: flex;
  padding: 15px;
}

.mockOsf article .embed {
  width: 65%;
  padding: 15px;
}

.mockOsf article .embed iframe {
  width: 100%;
  height: 700px;
}

.mockOsf article .meta {
width: 35%;
padding: 15px;
padding: 15px;
}

.mockOsf article .meta .download {
  background-color: #F3F5F5;
  padding: 15px;
  color: #333;
}

.mockOsf article .meta .download a {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  font-weight: 400;
  font-size: 14px;
}

.mockOsf article .meta .download a:hover {
  background-color: #286090;
  border-color: #204d74;
}

.mockOsf article .meta .download .count {
  float: right;
  font-size: 14px;
}

.mockOsf article .meta h2 {
  font-weight: 700;
  font-size: 18px;
  color: #333;
  margin: 10px 0;
  padding: 15px 0;
}

.mockOsf article .meta p {
  font-size: 14px;
}

.mockOsf article .meta a.doi {
  color: #337ab7;
  text-decoration: none;
}

.mockOsf article .meta .discipline {
  display: inline-block;
  background-color: #f8f8f8;
  color: #333;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 1px 7px;
  margin-bottom: 4px;
  font-size: 14px;
}

.mockOsf article .meta .tag {
  background-color: #777;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  font-size: 12px;
  margin: 0 2px;
  padding: 3px 7px;
  display: inline-block;
}

.mockOsf article .project {
  display: flex;
  background: #F3F5F5;
  margin-top: 25px;
  padding: 25px;
}

.mockOsf article .project .logo {
  width: 50%;
  text-align: center;
}

.mockOsf article .project .logo img {
  height: 100px;
}

.mockOsf article .project .link {
  width: 50%;
}

.mockOsf article .project .link p {
  font-size: 14px;
  color: #333;
  font-weight: 200;
}

.mockOsf article .project .link a {
  background-color: #1b6d85;
  color: white;
  border: 1px solid #175b70;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
}

.mockOsf article .project .link a:hover {
  background-color: #124a5b;
  border-color: #0c323d;
}

.mockOsf footer {
  background-color: #eee;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-shadow: 0 1px 0 #fff;
  padding: 25px 0;
}

.mockOsf footer h1 {
  font-weight: 300;
  font-size: 18px;
  color: #555;
}
